/*
 * Copyright (c) 2024 Dmitrii Mozgovoi
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                       &kp W             &kp E              &kp R         &kp T                      &trans  &trans  &trans  &trans
&kp TAB         &kp Q  &kp S             &kp D              &kp F         &kp G                      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp A  &kp X             &kp C              &kp V         &kp B                      &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp Z  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_GUI  &trans  &kp SPACE  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
