/*
 * Copyright (c) 2024 Dmitrii Mozgovoi
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                       &kp W       &kp E       &kp R         &kp T                       &kp Y   &kp U          &kp I      &kp O
&kp TAB         &kp Q  &kp S       &kp D       &kp F         &kp G                       &kp H   &kp J          &kp K      &kp L           &kp P          &kp DEL
&kp LEFT_SHIFT  &kp A  &kp X       &kp C       &kp V         &kp B                       &kp N   &kp M          &kp COMMA  &kp PERIOD      &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z  &bt BT_CLR  &bt BT_NXT  &kp LEFT_GUI  &trans  &kp SPACE  &kp RET  &trans  &kp RIGHT_ALT  &trans     &studio_unlock  &kp SLASH      &kp ESCAPE
            >;
        };
    };
};
