if SHIELD_COSMOTYL363_LEFT

config ZMK_KEYBOARD_NAME
    default "Cosmotyl363"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COSMOTYL363_LEFT || SHIELD_COSMOTYL363_RIGHT

config ZMK_SPLIT
    default y
endif
